.react-resizable-handle {
  background-color: #37414b;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  height: 10px;
  width: 100%;
}

.react-resizable-handle-e {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  height: 100%;
  min-width: 10px;
  width: 10px;
}
